<div class="panel panel-default well" style="margin-top: 70px; padding: 2px; border-left: none; border-right: none; border-radius: 0px;">
  <div class="panel-body">

    <h3 style="float:left; top: -15px; position:relative;"><span class="label label-primary">New</span> Você pode adicionar um jogo que ainda não temos !</h3>

    <%= link_to new_game_path do  %>
      <button type="button" class="btn btn-primary" style="float:right;">Add Game</button>
    <% end %>

  </div>
</div>    

<div class="container">
<div class="row" style="text-align: center;">

<% @games.reverse.each do |game| %>

  <div class="col-xs-12 col-sm-6 col-md-3" style="margin: -1px;" >
    <div class="thumbnail well" style="height: 400px; border-color: black;">
      <%= image_tag game.game_picture.url, style: "width: 240px; height: 200px;" %>
      <div class="caption">
        <h3><%= game.name %></h3>
        <p><%= game.developer %> - <%= game.gender %></p>
        <p><%= link_to "Saiba mais...", show_game_path(game.name), class: "btn btn-primary" %></p>
      </div>
    </div>
  </div>

<% end %>

</div>

</div>