<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track' => true %>

<div class="jumbotron" >
  <h1>Porão de Jogos</h1>
  <p>A casa de todo conhecimento gamer.</p>
</div>

<div class="container" >

  <h2>Tudo sobre seu jogos preferidos <span class="label label-info">New</span></h2>
  <h5>Jogos mais votados</h5>

  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-md-6">

      <div class="well">
        <a class="media-left" href="#">
          <%= image_tag "logo.png", style: "width: 64px; height: 64px;" %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Far cry 4</h4>
          Divirta-se explorando o gigantesco mundo de Kiraty.
        </div>
      </div>

      <div class="well">
        <a class="media-left" href="#">
          <%= image_tag "logo.png", style: "width: 64px; height: 64px;" %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Far cry 4</h4>
          Divirta-se explorando o gigantesco mundo de Kiraty.
        </div>
      </div>

      <div class="well">
        <a class="media-left" href="#">
          <%= image_tag "logo.png", style: "width: 64px; height: 64px;" %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Far cry 4</h4>
          Divirta-se explorando o gigantesco mundo de Kiraty.
        </div>
      </div>

    </div>

    <div class="col-xs-12 col-sm-6 col-md-6">
      
      <div class="well">
        <a class="media-left" href="#">
          <%= image_tag "logo.png", style: "width: 64px; height: 64px;" %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Far cry 4</h4>
          Divirta-se explorando o gigantesco mundo de Kiraty.
        </div>
      </div>

      <div class="well">
        <a class="media-left" href="#">
          <%= image_tag "logo.png", style: "width: 64px; height: 64px;" %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Far cry 4</h4>
          Divirta-se explorando o gigantesco mundo de Kiraty.
        </div>
      </div>

      <div class="well">
        <a class="media-left" href="#">
          <%= image_tag "logo.png", style: "width: 64px; height: 64px;" %>
        </a>
        <div class="media-body">
          <h4 class="media-heading">Far cry 4</h4>
          Divirta-se explorando o gigantesco mundo de Kiraty.
        </div>
      </div>

    </div>
  </div>


</div>