<%= stylesheet_link_tag 'index', media: 'all', 'data-turbolinks-track' => true %>

<div class="jumbotron" >
  <h1>Porão de Jogos</h1>
  <p>A casa de todo conhecimento gamer.</p>
</div>

<div class="container" >

  <h2>Tudo sobre seu jogos preferidos <span class="label label-info">New</span></h2>
  <h5>Recen adicionados</h5>

  <div class="row">
    <% @show_games = 0 %>
    <% @games.reverse.each do |game| %>
      <% if @show_games <= 6 %>

        <div class=" col-xs-12 col-sm-6 col-md-6"> 
          <div class="well"> 
          <a class="media-left" href="#" style="margin: 40px;">
            <%= image_tag game.game_picture.url(:medium), style: "width: 64px; height: 64px;" %></p>
          </a>
          <div class="media-body">
            <h4 class="media-heading"><%= game.name %> <small><%= game.gender %></small></h4>
            <small><%= game.description.first(100) %></small>
          </div>
          </div>
        </div>

      <% end %>

    <% end %>

  </div>


</div>