<%= stylesheet_link_tag 'form', media: 'all', 'data-turbolinks-track' => true %>

<div class="container bg-show-game" style="margin-top: 70px;">

<h1 class="well"><%= @game.name %> <span class="label label-primary"><%= @game.gender %></span></h1>

<p style="postion: relative; text-align: center; margin-right: 20px;" >

<div class="row" style="text-align:center; margin: 30px;">

  <div class=" col-xs-12 col-ms-6 col-md-6">
    <%= image_tag @game.game_picture.url(:medium), style: "border: 1px solid black;" %></p>
  </div>

  <div class=" col-xs-12 col-ms-6 col-md-6">
    <p>
      <%= @game.history %>
    </p>
  </div>
</div>

<div class="row" style="margin: 0px;">
  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Desenvolvedora:</b>
    <%= @game.developer %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Ano de lançamento: </b>
    <%= @game.year %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Disponivel para: </b>
    <%= @game.avaliable %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Classificação indicativa:  </b>
    <%= @game.classication %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Multiplayer:  </b>
    <%= @game.multiplayer %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Co-op:  </b>
    <%= @game.coop %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Campanha:  </b>
    <%= @game.campaign %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Legendado em:  </b>
    <%= @game.legend %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Dublado em:  </b>
    <%= @game.dubbing %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Requirimentos:  </b>
    <%= @game.requirements %>
  </p>

  <p class="col-xs-12 well col-ms-6 col-md-4"><b>Pontuação: </b>

    <% @reviews.each do |review| %>
      <% $value = review.note + $value %>
    <% end %>
    <%= $value %>
    <% $score_games["#{@game.name}"] = $value %>
  </p>
</div>

<div class="panel well" style="padding: 30px; text-align: center;">
  <h3>Avaliações</h3>
  <%= show_new_review %>


  <% @reviews.last(10).each do |review| %>
      <div class="review">
        <b><%= User.find_by_id(review.id_user).name %>
        <small>Nota: <%= review.note %></small></b><br>
        <%= review.review %>
      </div>
  <% end %> 
  
</div>

</div>